<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container">
    <a class="navbar-brand font-weight-bold text-white" routerLink="dash">Invoice HostBooks</a>

    <button type="button" class="btn btn-primary" (click)="openModal()"><i class="fa fa-plus me-2"> </i>Add Customer</button>
    <button type="button" class="btn btn-secondary" (click)="openModal1()"><i class="fa fa-plus me-2"> </i>Add Items</button>
    <button type="button" class="btn btn-success" routerLink="invoices" ><i class="fa fa-plus me-2"> </i>Create Invoices</button>
  </div>
</nav>

<button type="button" class="btn btn-secondary mt-3 me-2" routerLink="customers"><i class="fa fa-list me-2"> </i>Customer List</button>
<button type="button" class="btn btn-secondary mt-3 me-2" routerLink="items" ><i class="fa fa-list me-2"> </i>Item List</button>


