<div class="container mt-3">
  <div class="row mb-3">
    <div class="col-md-4">
      <mat-form-field class="form-group me-2">
        <mat-label class="font-weight-bold">Customer</mat-label>
        <mat-select (selectionChange)="onCustomerSelect($event.value)" required>
          <mat-option
            *ngFor="let customer of customers"
            [value]="customer.customerName"
          >
            {{ customer.customerName }}
          </mat-option>
        </mat-select>
        <div *ngIf="!selectedCustomerName" class="text-danger">
          Customer is required
        </div>
      </mat-form-field>
    </div>
    <div class="col-md-4 mt-3">
      <label class="fw-bold me-2">Invoice Date:</label>
      <span class="text-info">{{ invoiceDate }}</span>
    </div>
    <div class="col-md-4 mt-3">
      <label class="fw-bold me-2">Invoice number:</label>
      <span class="text-info">{{ generatedinvoicenumber }}</span>
    </div>
  </div>

  <table class="table table-bordered table-striped mt-5">
    <thead class="table-light table-dark">
      <tr class="text-center">
        <th scope="col">Items</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Sub Total</th>
        <th scope="col">GST</th>
        <th scope="col">Tax Amount</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let row of rows; let i = index">
        <tr>
          <td>
            <div class="form-group small-form-field">
              <select
                class="form-control"
                [(ngModel)]="row.name"
                (change)="onItemSelect(row.name, row)"
                required
              >
                <option *ngFor="let itm of item" [value]="itm.name">
                  {{ itm.name }}
                </option>
              </select>
              <div
                *ngIf="!row.name && isSubmitButtonDisabled()"
                class="text-danger"
              >
                Item is required
              </div>
            </div>
          </td>

          <td>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="row.currentQuantity"
              (input)="updateTotalAmount(row)"
              required
              min="1"
            />
            <div
              *ngIf="
                (!row.currentQuantity || row.currentQuantity < 1) &&
                isSubmitButtonDisabled()
              "
              class="text-danger"
            >
              Quantity must be at least 1
            </div>
          </td>

          <td>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="row.currentUnitPrice"
              (input)="updateTotalAmount(row)"
              required
              min="0.01"
            />
            <div
              *ngIf="
                (!row.currentUnitPrice || row.currentUnitPrice < 0.01) &&
                isSubmitButtonDisabled()
              "
              class="text-danger"
            >
              Price must be greater than 0
            </div>
          </td>

          <td>
            {{
              updateTotalAmount(row)
                | currency : "INR" : "symbol-narrow" : "1.2-2"
            }}
          </td>
          <td>9%</td>
          <td>
            {{
              calculateTaxAmount(row)
                | currency : "INR" : "symbol-narrow" : "1.2-2"
            }}
          </td>
          <td>
            {{
              calculateTotalAmountWithTax(row)
                | currency : "INR" : "symbol-narrow" : "1.2-2"
            }}
          </td>
          <td>
            <button
              class="btn btn-outline-danger btn-sm"
              (click)="deleteRow(row)"
            >
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div class="container mt-4 mb-5">
    <div class="row">
      <div class="col-md-4">
        <p class="fw-bold">Subtotal:</p>
      </div>
      <div class="col-md-8">
        <p class="text-info">
          {{
            calculateOverallSubtotal()
              | currency : "INR" : "symbol-narrow" : "1.2-2"
          }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p class="fw-bold">Gst Amount:</p>
      </div>
      <div class="col-md-8">
        <p class="text-info">
          {{
            calculateOverallGstAmount()
              | currency : "INR" : "symbol-narrow" : "1.2-2"
          }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p class="fw-bold">Total Amount:</p>
      </div>
      <div class="col-md-8">
        <p class="text-info">
          {{
            calculateOverallTotalAmount()
              | currency : "INR" : "symbol-narrow" : "1.2-2"
          }}
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary me-2" (click)="addRow()">Add Row</button>
      <button
        class="btn btn-secondary"
        (click)="onSubmit(rows)"
        [disabled]="isSubmitButtonDisabled()"
      >
        Submit
      </button>
    </div>
  </div>
</div>
